
/* Estilos da barra de navegação */
.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    color: gray;
}

.nav-links a:hover::before {
    visibility: visible;
    width: 100%;
}

.navbar a.active {
    color: #f0f0f0;
    border-bottom: 2px solid white;
}

.nav-links a.active::before {
    visibility: visible;
    width: 100%;
}
